.board {
    $light-color: #ffe4ae;
    $lighter-color: #fff6e2;

    $dark-color: #573e07;
    $darker-color: #221803;

    $primary-color: #ffa078;
    $warning-color: #ff4800;

    $line-width: 4;

    $board-border-color: $darker-color;
    $board-dark-color: $dark-color;
    $board-light-color: $light-color;
    $board-letters-color: $darker-color;
    $board-letters-fill: $light-color;

    .border {
        stroke: $board-border-color;
        stroke-width: $line-width;
        stroke-linecap: round;
        fill: $lighter-color;
    }

    .coordinate {
        alignment-baseline: middle;
        text-anchor: middle;
        stroke: $board-letters-color;
        fill: $board-letters-fill;
        font-size: 50px;
    }

    .cell {
        &.active {
            stroke: $warning-color;
            stroke-width: $line-width;
            fill: transparent;
        }

        &.light {
            fill: $board-light-color;
        }
        &.dark {
            fill: $board-dark-color;
        }
    }

    .shashka {
        stroke-width: $line-width;

        &.white {
            fill: $lighter-color;
            stroke: $darker-color;
            &.active {
                stroke: $warning-color;
                &:hover {
                    stroke: $warning-color;
                }
            }
            &:hover {
                stroke: $primary-color;
            }
        }
        &.black {
            fill: $darker-color;
            stroke: $lighter-color;
            &.active {
                stroke: $warning-color;
                &:hover {
                    stroke: $warning-color;
                }
            }
            &:hover {
                stroke: $primary-color;
            }
        }
    }

    .move-arrow {
        stroke-width: $line-width;
        stroke: $primary-color;
    }
}
