<svg width="100%" [attr.viewBox]="vb" class="board">
    <g>
        <rect [attr.x]="b1" [attr.y]="b1" [attr.width]="b1s" [attr.height]="b1s" class="border"></rect>
        <rect [attr.x]="b2" [attr.y]="b2" [attr.width]="b2s" [attr.height]="b2s" class="border"></rect>
        <rect [attr.x]="b3" [attr.y]="b3" [attr.width]="b3s" [attr.height]="b3s" class="border"></rect>
        <rect [attr.x]="b4" [attr.y]="b4" [attr.width]="b4s" [attr.height]="b4s" class="border"></rect>

        <g>
            <rect [attr.x]="con01" [attr.y]="con01" [attr.width]="cornerSize" [attr.height]="cornerSize" class="border"></rect>
            <rect [attr.x]="con00" [attr.y]="con00" [attr.width]="cornerSize" [attr.height]="cornerSize" class="border"></rect>

            <rect [attr.x]="con11" [attr.y]="con01" [attr.width]="cornerSize" [attr.height]="cornerSize" class="border"></rect>
            <rect [attr.x]="con10" [attr.y]="con00" [attr.width]="cornerSize" [attr.height]="cornerSize" class="border"></rect>

            <rect [attr.x]="con11" [attr.y]="con11" [attr.width]="cornerSize" [attr.height]="cornerSize" class="border"></rect>
            <rect [attr.x]="con10" [attr.y]="con10" [attr.width]="cornerSize" [attr.height]="cornerSize" class="border"></rect>

            <rect [attr.x]="con01" [attr.y]="con11" [attr.width]="cornerSize" [attr.height]="cornerSize" class="border"></rect>
            <rect [attr.x]="con00" [attr.y]="con10" [attr.width]="cornerSize" [attr.height]="cornerSize" class="border"></rect>
        </g>
    </g>

    <g>
        <text *ngFor="let l of boardIndex;"  class="coordinate" font-size="32"
              [attr.x]="startPoint/2"
              [attr.y]="startPoint + (l*cellSize) + cellCenter"
        >{{8-l}}</text>
    </g>
    <g>
        <text *ngFor="let l of boardIndex;"  class="coordinate" font-size="32"
              [attr.x]="startPoint + (8*cellSize) + startPoint/2"
              [attr.y]="startPoint + (l*cellSize) + cellCenter"
        >{{8-l}}</text>
    </g>
    <g>
        <text *ngFor="let c of boardIndex;" class="coordinate" font-size="32"
              [attr.x]="startPoint + (c*cellSize) + cellCenter"
              [attr.y]="startPoint/2"
        >{{colChar[c]}}</text>
    </g>
    <g>
        <text *ngFor="let c of boardIndex;" class="coordinate" font-size="32"
              [attr.x]="startPoint + (c*cellSize) + cellCenter"
              [attr.y]="startPoint + (8*cellSize) + startPoint/2"
        >{{colChar[c]}}</text>
    </g>


    <g *ngFor="let l of boardIndex;">
        <rect *ngFor="let c of boardIndex;"
              class="cell"
              [ngClass]="{
                    dark:(((7-l)+c) % 2 == 0),
                    light:(((7-l)+c) % 2 == 1)
              }"
              [attr.x]="startPoint + c * cellSize"
              [attr.y]="startPoint + l * cellSize"
              [attr.width]="cellSize"
              [attr.height]="cellSize"
        ></rect>
    </g>

    <circle *ngFor="let f of figures;"
            [attr.cx]="startPoint + f.c * cellSize + cellCenter"
            [attr.cy]="startPoint + f.l * cellSize + cellCenter"
            [attr.r]="stoneRadius"
            class="shashka"
            [ngClass]="{
                        black: f.figure.color == FigureColor_BLACK,
                        white: f.figure.color == FigureColor_WHITE
                    }"
    ></circle>
</svg>
