<svg width="100%" [attr.viewBox]="vb" class="board">

    <!-- aroind border -->
    <g>
        <rect [attr.x]="b1" [attr.y]="b1" [attr.width]="b1s" [attr.height]="b1s" class="border"></rect>
        <rect [attr.x]="b2" [attr.y]="b2" [attr.width]="b2s" [attr.height]="b2s" class="border"></rect>
        <rect [attr.x]="b3" [attr.y]="b3" [attr.width]="b3s" [attr.height]="b3s" class="border"></rect>
        <rect [attr.x]="b4" [attr.y]="b4" [attr.width]="b4s" [attr.height]="b4s" class="border"></rect>

        <g>
            <rect [attr.x]="con01" [attr.y]="con01" [attr.width]="cornerSize" [attr.height]="cornerSize" class="border"></rect>
            <rect [attr.x]="con00" [attr.y]="con00" [attr.width]="cornerSize" [attr.height]="cornerSize" class="border"></rect>

            <rect [attr.x]="con11" [attr.y]="con01" [attr.width]="cornerSize" [attr.height]="cornerSize" class="border"></rect>
            <rect [attr.x]="con10" [attr.y]="con00" [attr.width]="cornerSize" [attr.height]="cornerSize" class="border"></rect>

            <rect [attr.x]="con11" [attr.y]="con11" [attr.width]="cornerSize" [attr.height]="cornerSize" class="border"></rect>
            <rect [attr.x]="con10" [attr.y]="con10" [attr.width]="cornerSize" [attr.height]="cornerSize" class="border"></rect>

            <rect [attr.x]="con01" [attr.y]="con11" [attr.width]="cornerSize" [attr.height]="cornerSize" class="border"></rect>
            <rect [attr.x]="con00" [attr.y]="con10" [attr.width]="cornerSize" [attr.height]="cornerSize" class="border"></rect>
        </g>
    </g>

    <!-- coordinate lines -->
    <g>
        <!-- line numbers -->
        <g>
            <text *ngFor="let l of boardIndex;"  class="coordinate"
                  [attr.x]="startPoint/2"
                  [attr.y]="startPoint + (l*cellSize) + cellCenter"
            >{{linChar[l]}}</text>
        </g>
        <g>
            <text *ngFor="let l of boardIndex;"  class="coordinate"
                  [attr.x]="startPoint + (8*cellSize) + startPoint/2"
                  [attr.y]="startPoint + (l*cellSize) + cellCenter"
            >{{linChar[l]}}</text>
        </g>

        <!-- column letters -->
        <g>
            <text *ngFor="let c of boardIndex;" class="coordinate"
                  [attr.x]="startPoint + (c*cellSize) + cellCenter"
                  [attr.y]="startPoint/2"
            >{{colChar[c]}}</text>
        </g>
        <g>
            <text *ngFor="let c of boardIndex;" class="coordinate"
                  [attr.x]="startPoint + (c*cellSize) + cellCenter"
                  [attr.y]="startPoint + (8*cellSize) + startPoint/2"
            >{{colChar[c]}}</text>
        </g>
    </g>

    <!-- board: dark / light squares -->
    <g *ngFor="let l of boardIndex;">
        <rect *ngFor="let c of boardIndex;"
              class="cell"
              [ngClass]="{
                    dark:(((7-l)+c) % 2 == 0),
                    light:(((7-l)+c) % 2 == 1)
              }"
              [attr.x]="startPoint + c * cellSize"
              [attr.y]="startPoint + l * cellSize"
              [attr.width]="cellSize"
              [attr.height]="cellSize"
              (click)="cellClick(l,c)"
        ></rect>
    </g>

    <!--  black figures  -->
    <g *ngFor="let f of (figures.get(this.FigureColor_BLACK));">
        <circle
                [attr.cx]="fx0 + f.c * fxCellSize"
                [attr.cy]="fy0 + f.l * fyCellSize"
            [attr.r]="stoneRadius"
            class="shashka black"
            [ngClass]="{active: f.isActive}"
            (click)="clickToShaka(f)"
        ></circle>
        <circle *ngIf="f.isQuinn"
                [attr.cx]="fx0 + f.c * fxCellSize"
                [attr.cy]="fy0 + f.l * fyCellSize"
                [attr.r]="stoneRadius/2"
                class="shashka black quinn"
                (click)="clickToShaka(f)"
        ></circle>
    </g>

    <!--  white figures  -->
    <g *ngFor="let f of (figures.get(this.FigureColor_WHITE));">
        <circle
                [attr.cx]="fx0 + f.c * fxCellSize"
                [attr.cy]="fy0 + f.l * fyCellSize"
                [attr.r]="stoneRadius"
                class="shashka white"
                [ngClass]="{active: f.isActive}"
                (click)="clickToShaka(f)"
        ></circle>
        <circle *ngIf="f.isQuinn"
                [attr.cx]="fx0 + f.c * fxCellSize"
                [attr.cy]="fy0 + f.l * fyCellSize"
                [attr.r]="stoneRadius/2"
                class="shashka white quinn"
                (click)="clickToShaka(f)"
        ></circle>
    </g>

    <!-- move path visualization -->
    <g *ngFor="let cell of cellsQueue; let i = index;">
        <rect *ngIf="i > 0"
              class="cell active"
              [attr.x]="fx0 + cell.c * fxCellSize - cellCenter"
              [attr.y]="fy0 + cell.l * fyCellSize - cellCenter"
              [attr.width]="cellSize"
              [attr.height]="cellSize"
              (click)="activeCellClick(cell)"
        ></rect>
        <line *ngIf="i > 0"
              [attr.x1]="fx0 + cellsQueue[i-1].c * fxCellSize"
              [attr.y1]="fy0 + cellsQueue[i-1].l * fyCellSize"
              [attr.x2]="fx0 + cell.c * fxCellSize"
              [attr.y2]="fy0 + cell.l * fyCellSize"
              class="move-arrow"
        ></line>
    </g>

</svg>
