<!--
<fa-icon [icon]="faCircle" class="figure" [ngClass]="{
                        white: figure && figure.color == FigureColor_WHITE,
                        black: figure && figure.color == FigureColor_BLACK,
                        transparent: !(figure)
}"></fa-icon>

-->
<div class="df" [ngClass]="{
                        white: figure && figure.color == FigureColor_WHITE,
                        black: figure && figure.color == FigureColor_BLACK,
                        quinn: figure && figure.type == FigureType_QUINN,
                        transparent: !(figure)
}"></div>
