<div class="row">
    <div class="col-sm-12" align="center">

        <div class="row">
            <div class="column">
                <button type="button" class="btn btn-outline-primary" (click)="startGameRequest()">
                    <span jhiTranslate="game-page.subtitle">...</span>
                </button>
            </div>
            <div class="column">
                <button type="button" class="btn btn-outline-secondary" (click)="sendStepToServer()">
                    <span jhiTranslate="game-page.sendStep">Step!</span>
                </button>
            </div>
            <div class="column">
                <button type="button" class="btn btn-outline-secondary" (click)="clearLog()">
                    <span jhiTranslate="game-page.clear">Clear!</span>
                </button>
            </div>
        </div>

        <div *ngIf="currentState" class="board">
            <div class="row">
                <div class="col"></div>
                <div class="col" *ngFor="let cell of currentState.field[0]; let c = index;">
                    {{colChar[c]}}
                </div>
                <div class="col"></div>
            </div>

            <div class="row" *ngFor="let row of currentState.field let l = index;">
                <div class="col"><h1>{{8-l}}</h1></div>
                <div class="col cell" *ngFor="let cell of currentState.field[7-l]; let c = index;" [ngClass]="{
                        dark:  ((l + c) % 2) == 1,
                        light: ((l + c) % 2) == 0
                     }">
                    <jhi-figure [figure]="cell"></jhi-figure>
                </div>
                <div class="col"><h1>{{8-l}}</h1></div>
            </div>

            <div class="row">
                <div class="col"></div>
                <div class="col" *ngFor="let cell of currentState.field[0]; let c = index;">
                    {{colChar[c]}}
                </div>
                <div class="col"></div>
            </div>

        </div>

    </div>
</div>
