<div class="row">
    <div class="col-sm-12" align="center">

        <div class="row">
            <div class="column">
                <button type="button" class="btn btn-outline-primary" (click)="startGameRequest()">
                    <span jhiTranslate="game-page.subtitle">...</span>
                </button>
            </div>
            <div class="column">
                <button type="button" class="btn btn-outline-secondary" (click)="sendStepToServer()">
                    <span jhiTranslate="game-page.sendStep">Step!</span>
                </button>
            </div>
            <div class="column">
                <button type="button" class="btn btn-outline-secondary" (click)="clearLog()">
                    <span jhiTranslate="game-page.clear">Clear!</span>
                </button>
            </div>
        </div>

        <div class="row">

            <div class="
                offset-xl-1 col-xl-5
                offset-lg-1 col-lg-7
                offset-md-1 col-md-9
                col-sm-12
            ">
                <jhi-game-board [field]="currentState.field"></jhi-game-board>
            </div>
        </div>
    </div>
</div>
