<div class="row">
    <div class="col-sm-12" align="center">

        <div class="row">
            <div class="column">
                <button type="button" class="btn btn-outline-primary" (click)="startGameRequest()">
                    <span jhiTranslate="game-page.subtitle">...</span>
                </button>
            </div>
        </div>

        <div class="row">

            <div class="
                offset-xl-1 col-xl-5
                offset-lg-1 col-lg-7
                offset-md-1 col-md-9
                col-sm-12
                col-sm-12
            ">
                <div class="row"><div class="col text-center">
                    <jhi-game-board-user-panel [player]="opponent" [activePlayerIndex]="currentState.activePlayer"></jhi-game-board-user-panel>
                </div></div>
                <div class="row"><div class="col">
                        <jhi-game-board [figures]="figures" [myColor]="me?.color"
                                        (doMove)="sendStepToServer($event)"
                        ></jhi-game-board>
                </div></div>
                <div class="row"><div class="col text-center">
                    <jhi-game-board-user-panel [player]="me" [activePlayerIndex]="currentState.activePlayer"></jhi-game-board-user-panel>
                </div></div>
            </div>
        </div>
    </div>
</div>
